body{
	background-color:black;
    position: relative;
	min-height: 380px
	background-position:center;
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat; }

.button {
	color:white;
}  




#mainNavbar {
	position: absolute; 
    color: grey fill ;
}
	
a {
	color: white;
	font-size: 5rem;
	font-weight:300; }

.nav{
	background-color:transparent;
	padding :0;
	margin:0;
	overflow: hidden;
}
 
.navbar-brand {
	font-size: 2.5rem; }


a:hover{
	color: #00ffff ; }

#mainNavbar .nav-link {
	
	color: white;
	font-size: 1.5rem;
	font-weight:200; }

.navbar-nav{ 
float:right; }


.navbar-toggler {
	background-color: black;
	border: solid black ;
	border-radius: .25rem;
	padding-top: 0.25rem;
	padding-bottom: 0.5rem;
}




#mainNavbar .nav-link:hover  {
	color:  #00ffff;  
    
	 }



	 .container {
  /*display: inline-block;*/
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 5px;
  background-color: white ;
  margin: 5px 0;
  transition: 0.4s;
  padding: right:0
           top:0;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}







